---
layout: default
---
<article class="c-article {{ taxonomies }}">
    <header class="o-header">
        <h1 itemprop="name headline">{{ pageTitle }}{{#if subTitle}} <small>{{ subTitle }}</small>{{/if}}</h1>
        {{#if featuredImage}}{{#with featuredImage}}
            {{> image }}
        {{/with}}{{/if}}
    </header>
    <div itemprop="articleBody">
{{#markdown}}
{% body %}
{{/markdown}}
    </div>
    <footer class="c-article__footer">
        {{> display-pager }}

        <dl class="c-article__meta typl8-lining">
            <dt>Posted</dt>
            <dd><time itemprop="datePublished" datetime="{{ moment posted format="YYYY-MM-DDTHH:mm:ssZ" }}">{{ moment posted 'YYYY-MM-DD' }}</time></dd>
            <dt>Category</dt>
            <dd><a href="{{ link-to-taxonomy category }}">{{ category }}</a></dd>
            <dt>Tags</dt>
            <dd itemprop="keywords">
                <ul class="inline">{{#each tags}}
                    <li class="tag"><a href="{{ link-to-taxonomy this }}">{{ this }}</a></li>
                {{/each}}</ul>
            </dd>
        </dl>
    </footer>
</article>
{{> comments }}
