<figure id="{{ id }}">
    <a href="{{ 640Url }}" data-rel="thumbnail">
        <img alt="{{ alt }}" src="{{ url }}" width="{{ size.width }}" height="{{ size.width }}">
    </a>
    {{#if caption}}<figcaption>{{ caption }}</figcaption>{{/if}}
</figure>
