<figure id="{{ id }}">
    <a href="{{ url }}" data-rel="thumbnail">
        <img alt="{{ alt }}" src="{{ thumbnailUrl }}" width="200" height="100">
    </a>
    {{#if caption}}<figcaption>{{ caption }}</figcaption>{{/if}}
</figure>
